<div class="container mt-5">
  <h1>Mi App :D</h1>
  <p>Desde acá puedes navegar a las distintas secciones.</p>
  
  <%= link_to 'Mensajes', messages_path, class: 'btn btn-splatoon-primary me-2' %>
  <%= link_to 'Chats', chats_path, class: 'btn btn-splatoon-info me-2' %>
  <%= link_to 'Usuarios', users_path, class: 'btn btn-splatoon-success' %>
</div>
