<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="display-5">Lista de Chats</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">Chat</th>
          <th scope="col">Remitente</th>
          <th scope="col">Receptor</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @chats.each do |chat| %>
          <tr>
            <td><%= chat.id %></td>
            <td><%= chat.sender_id %></td>
            <td><%= chat.receiver_id %></td>
            <td>
              <%= link_to chat_path(chat), class: 'btn btn-outline-primary btn-sm' do %>
                <i class="fas fa-comments"></i> Abrir
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
